.status {
    background-color: #CB4335;
    color: #fff;
    text-align: center;
    display: block;
}

.status.selling::before {
    content: "판매중";
    font-size: 12px;
}

.status.sold-out::before {
    content: "판매완료";
    font-size: 12px;
}


.recipe-container {
    display: flex;
    flex-wrap: wrap;
}

.recipe-item {
    flex: 1 1 19%;
    max-width: 19%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    margin: 0;
}

.recipe-item img {
    width: 100%;
    height: auto;
}

 .pagination-container {
              text-align:center;  /* 가운데 정렬 */
     }
