
table {
    width: 100%; /* 테이블 너비를 100%로 설정 */
    border-collapse: collapse; /* 테이블 셀의 경계선 겹침 제거 */
}

th, td {

    text-align: center; /* 텍스트 왼쪽 정렬 */
}

th {
    background-color: #4CAF50; /* 헤더 배경색 */
    color: white; /* 헤더 텍스트 색상 */
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* 짝수 행의 배경색 */
}

tr:hover {
    background-color: #e0e0e0; /* 마우스 오버 시 행의 배경색 */
}

a {
    color: #4CAF50; /* 링크 색상 */
    text-decoration: none; /* 링크 밑줄 제거 */
}

a:hover {
    text-decoration: underline; /* 링크 마우스 오버 시 밑줄 추가 */
}
