/*** 본문 영역 틀 잡기 ***************************************************/

/* 본문 헤더 */
.def-admin-list-header {
    width: 100%;
    height: 60px;
    border-bottom: 2px solid rgb(230, 230, 230);
    /* margin-bottom: 20px; */
    padding-left: 25px;

    background-color: white;
}

/* 본문 바디 */
.def-admin-list-body {
    width: calc(100% - 60px);
    height: 100%;

    margin: 0 30px 20px;
    background-color: white;
}

/*** 본문 헤더 내부 ***************************************************/

/* 타이틀 */
.def-admin-list-header>h2 {
    font-weight: 100;
    font-size: 28px;
    line-height: 57px;
}

/*** 본문 바디 내부 ***************************************************/

/* 검색바 */
.def-admin-list-body-searchbar {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgb(230, 230, 230);
    padding: 0 15px 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
/* 검색바 검색영역 */
.def-admin-list-body-searchbar-searcharea {
    margin-right: 30px;
}
/* 검색바 결과영역 */
.def-admin-list-body-searchbar-resultarea {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
/* 검색바 검색영역 select */
.def-admin-searcharea-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    height: 25px;
    width: 120px;
    border: 1px solid rgb(200, 200, 200);
    padding: 0 3px 0;
}
/* 검색바 결과영역 출력 div */
.def-admin-list-body-searchbar-resultarea>div {
    font-size: 13px;
}
.def-admin-list-body-searchbar-resultarea>div:first-child {
    margin-right: 20px;
}

/* 리스트 영역 */
.def-admin-list-body-tablelike {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: calc(100% - 100px);
}
/* 리스트의 각 행 */
.def-admin-list-body-tablerow {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 30px;

    border-bottom: 1px solid rgb(242, 242, 242);
}
/* 행 커서 호버 효과 */
.def-admin-list-body-tablerow:hover {
    background-color: rgb(250, 250, 250);
}
/* 행 내부 컬럼 폰트 */
.def-admin-list-body-tablerow>div {
    padding: 0 5px 0;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* 리스트의 머리행 내부 컬럼 */
.def-admin-list-body-tablerow-head>div {
    color: rgb(140, 140, 140);
}
/* 머리행 호버 없애기 */
.def-admin-list-body-tablerow-head:hover {
    background-color: inherit;
}

/*
    리스트 컬럼들의 비율은 각 리스트별로 따로 정의해야함
*/

/* 페이징 wrapper */
.def-admin-list-body-pagination {
    height: 60px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* 페이징 번호, 꺽쇠 */
.def-admin-list-body-pagination>a {
    color: black;
    text-decoration: none;
    margin: 0 5px 0;
}
/* 페이징 번호 하이라이트 */
.def-admin-list-body-pagination>a.def-admin-pagination-highlight {
    text-decoration: underline;
}