/* 초기화 */

    /* 전체 초기화 */
    * {
        margin: 0; padding: 0;
        box-sizing: border-box;
    }

/* 메인 래퍼 */
    #wrap-main {

    }

/* 사이드바 */

    /* 사이드바 전체 래퍼 */
    #wrap-sidebar {
        display: flex;
        /* width: auto; */
    }

    /* 메인 사이드바 */

        /* 메인 사이드바 래퍼 */
        #wrap-sidebar-main {
            width: 300px; height: 100vh;
        }

        /* 메인 사이드바 헤더 */
        #head-sidebar-main {
            height: 150px;
            background-color: #000;
        }

        /* 메인 사이드바 바디 */
        #body-sidebar-main {
            height: calc(100% - 150px);
            background-color: #9E9E9E;

            overflow: auto;
        }

        /* 메인 사이드바 내부 요소 */
        .ele-sidebar-main {
            height: 80px;

            font-size: 25px;
            /* font-weight: bold; */
            text-align: center;
            line-height: 80px;

            color: #fff;


        }
        /* 메인 사이드바 내부 요소 :hover */
        .ele-sidebar-main:hover {
            background-color: #7b7b7b;
        }

    /* 서브 사이드바 */

        /* 서브 사이드바 래퍼 */
        #wrap-sidebar-sub {
            width: 300px; height: 100vh;
        }

        /* 서브 사이드바 헤더 */
        #head-sidebar-sub {
            /* 지금은 안씀 */
        }

        /* 서브 사이드바 바디 */
        #body-sidebar-sub {
            height: 100%;
            background-color: #D9D9D9;
        }
        /* 서브 사이드바 바디 내부요소(#innerbody-*-sub) 기본으로 숨기기 */
        #body-sidebar-sub>div {
            display: none;
        }

        /* 서브 사이드바 내부 요소 */
        .ele-sidebar-sub {
            display: block;

            height: 80px;

            font-size: 18px;
            text-align: center;
            line-height: 80px;
            text-decoration: none;
            white-space: nowrap;
            overflow: hidden;

            color: #7b7b7b;
        }
        /* ㅅㅂ 링크 숨기기 */
        #wrap-sidebar-sub.adj-sidebar-sub--close>div#body-sidebar-sub>div>a.ele-sidebar-sub {
            display: none;
        }

    /* 사이드바 폭 조절 */

        /* 메인 사이드바 */
        /*
            #wrap-sidebar-main 쪽 width 지워라
        */

            /* open */
            #wrap-sidebar-main.adj-sidebar-main--open {
                width: 300px;
                transition:
                    width 0.5s
                ;
            }

            /* close */
            #wrap-sidebar-main.adj-sidebar-main--close {
                width: 150px;
                transition:
                    width 0.5s
                ;
            }

        /* 메인 사이드바 요소 */
        /*
            실제 위치는 요소들의 부모 (#body-sidebar-main) 임
            이거 특성상 임마쪽 html 구조가 바뀌면 선택자도 바꿔줘야함

            현재 구조
                #body-sidebar-main.adj-body-sidebar-main--close
                    .ele-sidebar-main
                        카테고리 <span>편집</span>
                    .ele-sidebar-main
                    ...
        */

            /* close */
            .adj-body-sidebar-main--close#body-sidebar-main>.ele-sidebar-main>span {
                display: none;
            }

        /* 서브 사이드바 */

            /* open */
            #wrap-sidebar-sub.adj-sidebar-sub--open {
                width: 300px;
                transition:
                    width 0.5s
                ;
            }

            /* close */
            #wrap-sidebar-sub.adj-sidebar-sub--close {
                /* display: none; */
                width: 0px;
                transition:
                    width 0.5s
                ;
            }

        /* 서브 사이드바 요소 바디 */

            /* open */
            #body-sidebar-sub>div.adj-sidebar-sub-ele--open {
                display: block;
            }