body{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: darkgray;
}

#divMain{
    border: 1px solid black;
    width: 900px;
    height: 700px;
    background-color: white;
}
#divTitle{
    text-align: left;

}

#title,
.enrollDate{
    font-size: 1.5em;
    width : 400px;
    height : 40px;
    margin-left: 10px;
}

#notionContent{
    margin-left : 10px;
    width: 95%;
    height : 400px;
    resize: none;
}

p{
    font-size: 1.5em;
    display: inline-block;
}

#smtbtn{
    text-align: center;
    width: 200px;
    height: 50px;
    background-color: darkgray;
}