body{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: darkgray;
}

#mainTable{
    border: 1px solid black;
    width: 1000px;
}

#notionList{
    border: 1px solid black;
}


#divMain{
    border: 1px solid black;
    width: 1200px;
    height: 1000px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#divTitle{
    text-align: left;

}

#mainTable > tbody > tr:hover{
    background-color: darkgray;
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
}
nav{
    width: 1200px;
    top: 0;
    background-color: black;
    overflow: auto;
    text-align: center;
    color : white;
}

