#mainTable{
    border: 1px solid black;
    width: 1000px;
}

#notionList{
    border: 1px solid black;
}

body{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: darkgray;
}

#divMain{
    border: 1px solid black;
    width: 1200px;
    height: 1000px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#divTitle{
    text-align: left;

}

#mainTable > tbody > tr:hover{
    background-color: darkgray;
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
}

